<div *ngIf="loaded" class="tree-container">
    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="custom-tree-wrapper">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node node-item">
                <input type="checkbox" class="node-checkbox" (change)="checkBoxChanged(node, $event)" /> {{node.label}}
            </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
            <li>
                <div class="mat-tree-node  node-item">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.label">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{nestedTreeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
                        </mat-icon>
                    </button>
                    <strong> {{node.label}} </strong>
                </div>
                <div class="node-separator"></div>
                <ul [class.custom-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>
</div>