.tree-container {
    width: 500px;
    position: relative;
    border: 1px solid lightgrey;
}
.custom-tree-wrapper {
    background-color: #ececff;
}
.node-item {
    font-size: 18px;
    color: #424277;
}
.node-separator {
    position: absolute;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #b5b5d4;
}
.node-checkbox{
    cursor: pointer;
}
.custom-tree-invisible {
    display: none;
  }
  
  .custom-tree-wrapper ul,
  .custom-tree-wrapper li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  